// iqual overrides for gin styling


// border-radius
.paragraphs-tabs-wrapper .field-multiple-table .draggable.drag-previous::before,
.breadcrumb__link,
.admin-item__link:focus{
  border-radius: 1px;
}

.cke a.cke_button {
  border-radius: 1px;
}

.shortcut-action__message,
.paragraphs-dropdown-actions,
.views-tabs .add a,
.views-tabs li a,
[data-drupal-selector=edit-preset-accent-color] .form-radios .form-item--preset-accent-color .form-item__label,
#autosave-notification{
  border-radius: 2px;
}

.js .dropbutton--multiple .dropbutton__item:first-of-type > * {
  border-radius: 2px 0 0 2px;
}

.card__content-wrapper {
  border-radius: 0 0 2px 2px;
}

@media (min-width: 588px) {
  .card__content-wrapper {
    border-radius: 0 2px 2px 0;
  }
}

.erl-overlay.erl-loading div.loading,
.layout-paragraphs-field .layout-paragraphs-moving-message,
.gin--edit-form .page-wrapper__node-edit-form .layout-region-node-secondary .entity-meta > .accordion__item > .claro-details__summary:focus::after,
fieldset.media-library-widget,
.form-element--small, .form-element--extrasmall,
.button.button--small,
.button.button--extrasmall,
.dropbutton .dropbutton__items,
.js .dropbutton--multiple .dropbutton:not(.dropbutton--gin) > .dropbutton__item ~ .dropbutton__item:first-of-type:last-of-type > *, .js .dropbutton--multiple .dropbutton .dropbutton__items > .dropbutton__item:first-of-type:last-of-type > *, .js .dropbutton--multiple .dropbutton .dropbutton__items > .dropbutton__item ~ .dropbutton__item:first-of-type:last-of-type > *,
.dropbutton:not(.dropbutton--gin) > .dropbutton__item ~ .dropbutton__item > a:hover, .dropbutton:not(.dropbutton--gin) > .dropbutton__item ~ .dropbutton__item > a:active, .dropbutton:not(.dropbutton--gin) > .dropbutton__item ~ .dropbutton__item > a:focus,
.dropbutton:not(.dropbutton--gin) > .dropbutton__item ~ .dropbutton__item > input:hover,
.dropbutton:not(.dropbutton--gin) > .dropbutton__item ~ .dropbutton__item > input:active,
.dropbutton:not(.dropbutton--gin) > .dropbutton__item ~ .dropbutton__item > input:focus,
.dropbutton:not(.dropbutton--gin) > .dropbutton__item ~ .dropbutton__item > .button:hover,
.dropbutton:not(.dropbutton--gin) > .dropbutton__item ~ .dropbutton__item > .button:active,
.dropbutton:not(.dropbutton--gin) > .dropbutton__item ~ .dropbutton__item > .button:focus, .dropbutton .dropbutton__items > .dropbutton__item > a:hover, .dropbutton .dropbutton__items > .dropbutton__item > a:active, .dropbutton .dropbutton__items > .dropbutton__item > a:focus,
.dropbutton .dropbutton__items > .dropbutton__item > input:hover,
.dropbutton .dropbutton__items > .dropbutton__item > input:active,
.dropbutton .dropbutton__items > .dropbutton__item > input:focus,
.dropbutton .dropbutton__items > .dropbutton__item > .button:hover,
.dropbutton .dropbutton__items > .dropbutton__item > .button:active,
.dropbutton .dropbutton__items > .dropbutton__item > .button:focus, .dropbutton .dropbutton__items > .dropbutton__item ~ .dropbutton__item > a:hover, .dropbutton .dropbutton__items > .dropbutton__item ~ .dropbutton__item > a:active, .dropbutton .dropbutton__items > .dropbutton__item ~ .dropbutton__item > a:focus,
.dropbutton .dropbutton__items > .dropbutton__item ~ .dropbutton__item > input:hover,
.dropbutton .dropbutton__items > .dropbutton__item ~ .dropbutton__item > input:active,
.dropbutton .dropbutton__items > .dropbutton__item ~ .dropbutton__item > input:focus,
.dropbutton .dropbutton__items > .dropbutton__item ~ .dropbutton__item > .button:hover,
.dropbutton .dropbutton__items > .dropbutton__item ~ .dropbutton__item > .button:active,
.dropbutton .dropbutton__items > .dropbutton__item ~ .dropbutton__item > .button:focus,
.dropbutton .dropbutton__items > .dropbutton__item,
.js.no-touchevents .dropbutton--small,
.js.no-touchevents .dropbutton--extrasmall,
.ui-tooltip.ui-widget{
  border-radius: 3px;
}

.dropbutton > .dropbutton__items > .dropbutton__item:first-of-type > a,
.dropbutton > .dropbutton__items > .dropbutton__item:first-of-type > input,
.dropbutton > .dropbutton__items > .dropbutton__item:first-of-type > .button {
  border-radius: 3px 3px 0 0;
}

.cke .cke_top {
  border-radius: 4px 4px 0 0;
}

.cke .cke_bottom {
  border-radius: 0 0 4px 4px;
}

.vertical-tabs__items .vertical-tabs__item:first-of-type, .vertical-tabs__items .vertical-tabs__item:first-of-type .claro-details__summary::after,
table th:first-child {
  border-top-left-radius: 4px;
}
.vertical-tabs__items .vertical-tabs__item:first-of-type, .vertical-tabs__items .vertical-tabs__item:first-of-type .claro-details__summary::after,
table th:last-child {
  border-top-right-radius: 4px;
}


.layout-paragraphs-field .layout-paragraphs-layout .layout,
.erl-field .erl-layout .layout {
  border-bottom-right-radius: 4px;
}


.layout-paragraphs-layout-region:last-of-type, .layout-paragraphs-layout-region:hover:last-of-type, .layout-paragraphs-layout-region:focus-within:last-of-type,
.layout-paragraphs-field .layout-paragraphs-layout-region:last-of-type,
.layout-paragraphs-field .layout-paragraphs-layout-region:hover:last-of-type,
.layout-paragraphs-field .layout-paragraphs-layout-region:focus-within:last-of-type,
.layout-paragraphs-disabled-items:last-of-type,
.layout-paragraphs-disabled-items:hover:last-of-type,
.layout-paragraphs-disabled-items:focus-within:last-of-type,
.erl-layout-region:last-of-type,
.erl-layout-region:hover:last-of-type,
.erl-layout-region:focus-within:last-of-type,
.erl-field .erl-layout-region:last-of-type,
.erl-field .erl-layout-region:hover:last-of-type,
.erl-field .erl-layout-region:focus-within:last-of-type,
.erl-disabled-items:last-of-type,
.erl-disabled-items:hover:last-of-type,
.erl-disabled-items:focus-within:last-of-type ,
.vertical-tabs__items .vertical-tabs__item:last-of-type, .vertical-tabs__items .vertical-tabs__item:not([open=open]):last-of-type .claro-details__summary::after,
table th:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.layout-paragraphs-field .layout-paragraphs-layout .layout,
.erl-field .erl-layout .layout,
.vertical-tabs__items .vertical-tabs__item:last-of-type, .vertical-tabs__items .vertical-tabs__item:not([open=open]):last-of-type .claro-details__summary::after,
table th:first-child {
  border-bottom-left-radius: 4px;
}


.shortcut-action,
.claro-details.claro-details--package-listing,
.claro-details.module-list__module-details,
.system-status-report .claro-details,
.erl-field .erl-disabled-items,
.erl-field .erl-disabled-items.form-item.form-wrapper,
.erl-field .erl-add-section,
.erl-field .erl-add-content--single button,
.layout-paragraphs-field .layout-select__item input + label,
.layout-paragraphs-field .layout-paragraphs-disabled-items,
.layout-paragraphs-field .layout-paragraphs-disabled-items.form-item.form-wrapper,
.layout-paragraphs-field .layout-paragraphs-disabled-items > .fieldset__wrapper,
.erl-field .erl-disabled-wrapper,
.layout-paragraphs-item.layout-paragraphs-layout,
.active-items .layout-paragraphs-item.layout-paragraphs-layout,
.layout-paragraphs-field.is-moving .layout-paragraphs-item.layout-paragraphs-layout:hover,
.erl-layout.erl-item.form-wrapper,
.layout-paragraphs-add-content__group, .layout-paragraphs-add-content--group,
.erl-add-content__group,
.erl-add-content--group,
.layout-paragraphs-add-more-menu,
.erl-add-more-menu,
.layout-paragraphs-add-more-menu__item a,
.erl-add-more-menu__item a,
.gu-mirror,
.layout-paragraphs-layout.layout-paragraphs-item.gu-mirror,
.erl-layout.erl-item.gu-mirror,
.paragraphs-tabs-wrapper .field-multiple-table .draggable,
.paragraphs-dragdrop__item,
.js .paragraphs-add-dialog--categorized .item-filter, .ui-dialog.ui-dialog-off-canvas.paragraphs-ee-off-canvas--browser #drupal-off-canvas .paragraphs-add-dialog--categorized .item-filter,
.claro-details,
.claro-details__summary::after,
.vertical-tabs__items,
.block-system > .views-form [data-drupal-selector*=edit-header],
.view-content .views-form [data-drupal-selector*=edit-header],
.views-display-column,
.edit-display-settings-top.views-ui-display-tab-bucket,
.media-library-view .view-header,
.media-library-select-all,
table thead,
.draggable-table thead th,
.cke.cke_chrome,
.cke .cke_inner,
body .cke_notification_info,
.form-element,
.form-textarea-wrapper,
fieldset:not(.fieldgroup),
.button,
.button:not(:focus),
.form-actions .button,
.action-link--icon-trash.action-link,
.dropbutton,
.card,
.admin-item .admin-item__link:hover, .admin-item .admin-item__link:focus,
.system-status-counter,
.upgrade-status-counter,
.panel__title,
.system-status-general-info__header,
.system-status-report__requirements-group > h3,
.system-status-report__requirements-group > .webform-filter-form + div:not(.layer-wrapper),
.system-themes-list__header,
.webform-tabs.ui-tabs .ui-tabs-nav .ui-tabs-active.ui-state-active a,
.dropzone,
.shepherd-element,
.entities-list .item-container,
.entities-list .item-container .field__item,
#snippet_preview{
  border-radius: 4px;
}

.layout-paragraphs-item.layout-paragraphs-layout::before,
.active-items .layout-paragraphs-item.layout-paragraphs-layout::before,
.layout-paragraphs-field.is-moving .layout-paragraphs-item.layout-paragraphs-layout:hover::before,
.erl-layout.erl-item.form-wrapper::before,
.is-horizontal .tabs--secondary .tabs__link,
.horizontal-tabs ul.horizontal-tabs-list li.horizontal-tab-button a,
.card__image img{
  border-radius: 4px 4px 0 0;
}

@media (min-width: 588px) {
  .card__image img {
    border-radius: 4px 0 0 4px;
  }
}

.layer-wrapper,
.block-system > form,
.view-content .views-form,
.panel,
.admin-list,
.view-watchdog .view-content,
.views-exposed-form.views-exposed-form,
.system-status-counter,
.system-status-general-info,
.system-status-report,
.views-edit-view,
.views-preview-wrapper,
.view-block-content .view-content,
.view-files .view-content,
.system-themes-list,
.modules-tabs,
#views-entity-list,
.layout-paragraphs-item,
.active-items .layout-paragraphs-item,
.layout-paragraphs-field.is-moving .layout-paragraphs-item:hover,
.erl-item,
.erl-field .erl-layout .erl-item,
.erl-field .erl-disabled-items .erl-item,
.views-exposed-form.views-exposed-form,
.views-displays,
.is-horizontal .tabs--primary .tabs__link,
.messages,
[data-drupal-selector=edit-classic-toolbar] .form-radios .form-item--classic-toolbar input{
  border-radius: 6px;
}

.media-library-item--grid,
.media-library-item__preview,
.ui-dialog:not(.ui-dialog-off-canvas),
.gin-entity-browser .entity-browser-form .views-field-thumbnail__target-id{
  border-radius: 8px;
}

.ui-dialog:not(.ui-dialog-off-canvas) .ui-dialog-content:first-of-type,
.ui-dialog .ui-dialog-titlebar {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.ui-dialog .ui-widget-content.ui-dialog-buttonpane {
  border-bottom-right-radius: 8px;
}

.ui-dialog .ui-widget-content.ui-dialog-buttonpane {
  border-bottom-left-radius: 8px;
}

.gin-entity-browser .entity-browser-form .views-row{
  border-radius: 9px;
}

/* term-reference-tree */

.term-reference-tree-level li {
  padding: 1px 0;
}

.term-reference-tree-level li .no-term-reference-tree-button{
  visibility: hidden;
}

.term-reference-tree-level li .term-reference-tree-button{
  cursor: pointer;
  background: var(--colorGinText);
  -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3e%3cpath fill='none' d='M8 20l8-8-8-8' stroke='black' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e");
          mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3e%3cpath fill='none' d='M8 20l8-8-8-8' stroke='black' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center center;
          mask-position: center center;
  -webkit-mask-size: 100% 100%;
          mask-size: 100% 100%;
  transform: rotate(-90deg);
  transition: transform 0.12s ease-in 0s;
}

.term-reference-tree-level li .term-reference-tree-button.term-reference-tree-collapsed{
  transform: rotate(90deg);
}

.term-reference-tree-level :not(.form-checkboxes):not(td):not(.media-library-item__click-to-select-checkbox):not(.field-content) > .form-type--checkbox {
  position: relative;
  margin-left: 0;
}

.term-reference-tree-level :not(.form-checkboxes):not(td):not(.media-library-item__click-to-select-checkbox):not(.field-content) > .form-type--checkbox input{
  position: relative !important;
  overflow: unset;
  word-wrap: unset;
  width: 21px;
  height: 21px;
  opacity: unset;
}

.term-reference-tree-level :not(.form-checkboxes):not(td):not(.media-library-item__click-to-select-checkbox):not(.field-content) > .form-type--checkbox input:hover{
  border-color: var(--colorGinText);
  -webkit-box-shadow: inset 0 0 0 1px var(--colorGinText);
  box-shadow: inset 0 0 0 1px var(--colorGinText);
  border: 1px solid;
}

.term-reference-tree-level :not(.form-checkboxes):not(td):not(.media-library-item__click-to-select-checkbox):not(.field-content) > .form-type--checkbox .checkbox-toggle{
  display: none;
}

/* entity browser */
@media (min-width: 976px) {
  .gin--horizontal-toolbar .gin-entity-browser {
    margin-top: -55px;
  }
}

@media (min-width: 1024px) {
  .page-wrapper {
    margin-top: 1px;
  }
}

.gin-entity-browser .entity-browser-form{
  border-radius: 0 !important;
}

.gin-entity-browser .messages-list{
  display: none;
}

.gin-entity-browser .eb-tabs{
  margin-left: 0;
}

.gin-entity-browser .eb-tabs a:focus{
  box-shadow: none;
}

.gin-entity-browser .form-actions{
  margin-bottom: -1px;
}


.field--widget-entity-browser-entity-reference .entities-list .item-container{
  padding: 1rem;
}

.field--widget-entity-browser-entity-reference .entities-list .item-container .field__item{
  border: none;
  cursor: inherit;
  font-size: 85%;
}

.view-iq-media-browser .views-exposed-form{
  padding: 0.5rem !important
}

.view-iq-media-browser .views-view-grid.cols-4 > .views-row{
  display: flex;
  flex-wrap: wrap;
  border: none;
}

.view-iq-media-browser .views-view-grid.cols-4 > .views-row > .views-col{
  flex-basis: calc(100% - 1rem);
  margin: 0.5rem;
  border: 1px solid var(--colorGinBorder);
  position: relative;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
  padding: 0.5rem;
}

@media (min-width: 640px) {
  .view-iq-media-browser .views-view-grid.cols-4 > .views-row > .views-col{
    flex-basis: calc( 50% - 1rem);
  }
}


@media (min-width: 768px) {
  .view-iq-media-browser .views-view-grid.cols-4 > .views-row > .views-col{
    flex-basis: calc( 25% - 1rem);
  }
}


.view-iq-media-browser .views-view-grid.cols-4 > .views-row > .views-col .views-field-thumbnail__target-id{
  display: flex;
  justify-content: center;
  border: none;
}

.view-iq-media-browser .views-view-grid.cols-4 > .views-row .views-field-name{
  word-break: break-all;
}

.view-iq-media-browser .views-view-grid.cols-4 > .views-row > .views-col .views-field-entity-browser-select{
  padding: 0.5rem;
  margin: 0;
  right: 0;
  bottom: 0;
  text-align: left;
}

.view-iq-media-browser .views-view-grid.cols-4 > .views-row > .views-col .views-field-entity-browser-select label{
  left: 0;
  top: 0;
  bottom: 0;
  top: 0;
  width: auto;
  cursor: pointer;
  height: auto;
  display: block;
  clip: unset;
  text-indent: 110%;
  right: 0;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
}

.ui-dialog .ui-widget-content.ui-dialog-content{
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.ui-widget.ui-dialog.ui-dialog-off-canvas{
  background: none;
}


// Webform
.webform-off-canvas #drupal-off-canvas{
  .webform-tabs{
    .webform-tabs-item-list{
      a {
        font-size: 14px;
      }
    }
    .webform-details-toggle-state-wrapper{
      display: none;
    }

    .layer-wrapper{
      padding: 0;
      font-size: 12px;
      th{
        white-space: nowrap;
      }
    }

     .form-type--boolean{
      margin-left: 0;
      .form-boolean{
        margin-left: 0;
        margin-right: 10px;
      }
    }


  }

  input, select, textarea, button{
    font-size: 14px;
    min-height: 0;
  }
  input:not([type="image"]), select, textarea{
    padding-top: 3px;
    padding-bottom: 3px;
  }

  [data-drupal-selector="edit-unique-container"] > div {
    flex-basis: 100%;
  }

  .cke.cke.cke_chrome{
    border-radius: 4px;
  }

  .tippy-box{
    min-width: 250px;
    .tippy-content{
      padding: 15px;
    }
    .webform-element-help--title{
      color: inherit;
    }
  }

  .fieldset__label{
    margin-bottom: 0.25rem;
    padding-bottom: 4px;
  }


  .select2-container.select2-container--default{
    .select2-selection--multiple{
      border-color: var(--colorGinFormElementBorder);
      color: var(--colorGinText);
      background-color: var(--colorGinInputBackground);
      .select2-selection__rendered{
        padding-left: calc(0.75rem - 1px);
        display: block;
      }
      .select2-selection__choice{
        background: none;
        border: none;
        font-size: 12px;
        &__remove{
          color: var(--colorGinText);
          &:hover{
            color: var(--colorGinText);
          }
        }
      }
      .select2-search__field{
        margin-top: 0;
        color: var(--colorGinText);
      }
    }
  }
  .claro-autocomplete{
    width: 100%;
  }
  .webform-select2{
    .form-item{
      margin-bottom: 0;
      &:not(:first-child){
        margin-top: 1.5rem;
      }
    }
  }
}

.select2-container{
  .select2-dropdown{
    color: var(--colorGinText);
    background-color: var(--colorGinInputBackground);
    border-color: var(--colorGinFormElementBorder);
    .select2-results{
      &__options{
        font-size: 12px;
      }
      &__option{
        padding: calc(0.75rem - 1px) calc(1rem - 1px);
        strong{
          padding-left: 0;
          padding-right: 0;
        }
        .select2-results__option{
          margin-left: calc( -1 * (1rem - 1px));
          margin-right: calc( -1 * (1rem - 1px));
        }
        &[aria-selected="true"]{
          color: var(--colorGinPrimary);
          background-color: var(--colorGinItemHover);
        }
        &--highlighted{
          color: var(--colorGinButtonText);
          background-color: var(--colorGinPrimary);;
        }
      }
    }
  }
}

.webform-ajax-form-wrapper{
  @media (min-width: 961px) {
    margin-top: 53px;
  }
}

.cke.cke.cke_chrome{
  border-radius: 4px;
}

// Views
table thead{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

table th:first-child{
  border-bottom-left-radius: 0;
}

table th:last-child{
  border-bottom-right-radius: 0;
}

.block-system > .views-form .views-table, .view-content .views-form .views-table{
  margin-bottom: 0;
}

.views-display-top {
  border-radius: 0;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.views-config-group-region{
  width: calc( 100% - 1px );
  .views-group-box{
    width: 50%;
    &--value > .form-item::after{
      display: none;
    }
  }
}

// Dark mode adjustments.
.gin--dark-mode{

  &.cke_editable {
    color: #fff;
    * {
      color: #fff;
    }
  }

  // Code mirror
  pre[class*="codemirror"] {
    background: white;
    color: black;
  }

  // + / - Buttons
  .webform-multiple-table,
  .webform-states-table {
    td input[type="image"]{
      filter: invert(1);
    }
  }

  [role="tablist"]{
    border-bottom-color: var(--colorGinBorder);
    [role="tab"]{
      &[aria-selected="true"]{
        border-color: var(--colorGinBorder);
        border-bottom-color: var(--colorGinLayerBackground);
      }
      &:hover:not([aria-selected="true"]) {
        background-color: var(--colorGinItemHover);
        border-color: var(--colorGinBorder);
        @media (min-width: 30em) {
          background-color: var(--colorGinItemHover);
          border-color: var(--colorGinBorder);
        }
      }
    }
  }

  .views-config-group-region{
    border-color: var(--colorGinBorder);
    .views-group-box{
      border-color: var(--colorGinBorder);
      &--value > .form-item::before{
        border-color: var(--colorGinBorder);
      }
    }
  }

}
